<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>出勤登録</title>
 <link rel="stylesheet" href="../static/css/goingRegistration.css">
</head>

<body>
     <div th:if="${validationError}" th:each="error : ${validationError}">
      <label class="text-danger" th:text="${error}"></label>
    </div>
 	 <div class="wrapper">
    <header class="header">
      <h1>出勤登録</h1></header>		

		<form th:action="@{/goingRepository/create}" th:object="${goingRepository}" th:method="post">
      <div class="container">
      <div class="form-group-left">
      <div class="form-group">
        <label>勤怠ID<span class="text-danger"></span></label>
        <input type="text" class="textbox-right" id="attendance_id" name="attendance_id" value="自動で採番される値" disabled>
      </div>

      <div class="form-group">
        <label>ユーザーID<span class="text-danger"></span></label>
        <input type="text" class="textbox-right" id="user_id" name="user_id" disabled>
      </div>
      
      <div class="form-group">
        <label>ステータス<span class="text-danger"></span></label>
        <select class="textbox-right" id="status" disabled>
           <option value="選択">---選択---</option>
            <option value="出勤">出勤</option>
            <option value="遅刻">遅刻</option>
            <option value="欠席">欠席</option>
            <option value="欠席">代休</option>
            <option value="欠席">所定休</option>
            <option value="欠席">有休</option>
            <option value="欠席">その他</option>
          </select>
      </div>

      <div class="form-group">
        <label>出勤日<span class="text-danger"></span></label>
        <input type="date" class="textbox-right" id="going_date" name="going_date" data-toggle="datepicker" disabled >
      </div>
    </div>
      
    <div class="form-group-right">
      <div class="form-group">
        <label>出勤時間<span class="text-danger"></span></label>
        <input type="time" class="textbox-left" id="going_time" name="going_time" disabled>
      </div>
      
      <div class="form-group">
        <label>備考<span class="text-danger"></span></label>
        <input type="text" class="textbox-left" id="remarks" name="remarks">
      </div>
    </div>
    </div>
       <div class="text-center">
        <a class="btn">戻る</a>
        <a class="btn">登録</a>
      </div>
    </form>
  <div class="footer"></div>
</div>
</body>
</html>